h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;

    span {
        font-size: 250px;

        &:nth-child(1) {
            color: green;
        }

        &:nth-child(2) {
            color: darkcyan;
        }

        &:nth-child(3) {
            color: lightcoral;
        }

        &:nth-child(4) {
            color: saddlebrown;
        }

        &:nth-child(5) {
            color: yellowgreen;
        }

        &:nth-child(6) {
            color: deeppink;
        }
        &:nth-child(7) {
            color: rgb(88, 160, 21);
        }
        &:nth-child(8) {
            color: rgb(110, 21, 21);
        }
        &:nth-child(9) {
            color: rgb(197, 143, 81);
        }
        &:nth-child(10) {
            color: rgb(14, 95, 45);
        }
        &:nth-child(11) {
            color: rgb(110, 19, 98);
        }
        &:nth-child(12) {
            color: rgb(101, 72, 204);
        }
        &:nth-child(13) {
            color: rgb(223, 226, 11);
        }

        /* Add more &:nth-child(n) rules if needed */
    }
}